/* **************************************** */
/*  HTML DEFAULTS                           */
/* **************************************** */
html, body {
    padding: 0;
    margin: 0;
    height: 100%;
}
body {
    width: 980px;
    margin: auto;
}
hr {
    margin: 4px;
}
h2, h3 {
    padding: 3px;
    margin-top: 4px;
    margin-bottom: 0px;
}

/* **************************************** */
/*  Header                                  */
/* **************************************** */
header.main {
    margin-top: 10px;
}

header.main img:hover {
    cursor:pointer;
}

header.main h1 small b {
    color: black;
}

header.main h1 {
    margin-top: 0px;
}

/* **************************************** */
/*  Properties                              */
/* **************************************** */
td.property-description-caption {
    width: 220px;
}

td.property-enum-caption {
    width: 185px;
}

/* **************************************** */
/*  Other                                   */
/* **************************************** */
.topic-further-info-button {
    background-color: rgb(217, 237, 247);
    color: black;
    cursor: pointer;
}

div.topic-change-history {
    max-height: 256px;
    overflow-x: auto;
    overflow-y:auto;
}

.topic-info-content h5 {
    margin: 0;
    padding: 3px;
    font-weight: normal;
    font-size: 1.1em;
}
