/* **************************************** */

/*  HTML DEFAULTS                           */

/* **************************************** */

html, body {
    padding: 0;
    margin: 0;
    height: 100%;
}
body {
    width: 980px;
    margin: auto;
}
hr {
    margin: 4px;
}
h2, h3 {
    padding: 3px;
    margin-top: 4px;
    margin-bottom: 0px;
}

/* **************************************** */

/*  Properties                              */

/* **************************************** */
tr.property {
    cursor: pointer;
}
td.property-cardinality,
th.property-cardinality,
td.property-type,
th.property-type {
	text-align: center;
}
td.property-name,
th.property-name {
	text-align: left;
	min-width: 600px;
}
