<!DOCTYPE html>
<html lang="en">

<!-- ---------------------------------------------- -->
<!-- Document head                                  -->
<!-- ---------------------------------------------- -->
<head>
    <!-- ---------------------------------------------- -->
    <!-- Meta:                                         -->
    <!-- ---------------------------------------------- -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ES-DOC - Specializations</title>
    <link rel="shortcut icon" type="image/x-icon" href="media/img/favicon.ico" />
    <!-- ---------------------------------------------- -->
    <!-- CSS:                                          -->
    <!-- ---------------------------------------------- -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>ES-DOC - Specializations</title>
    <link rel="shortcut icon" type="image/x-icon" href="media/img/favicon.ico" />
    <link href="media/ext/bootstrap-3.3.6/css/bootstrap.min.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="media/css/main.css" media="screen" rel="stylesheet" type="text/css" />
</head>

<!-- ---------------------------------------------- -->
<!-- Document body                                  -->
<!-- ---------------------------------------------- -->
<body>

<!-- TEMPLATE: Page header -->
<script type="underscore/template" id="template-header">
    <header class="clearfix main">
        <img src="media/img/logo.png" alt="Earth System Documentation" title="Earth System Documentation" class="esdoc-logo pull-left" />
        <h1 class="pull-right">
            <small><b>Specializations Viewer</b>
            </small>
            <b class="h6"> v<%= APP.VERSION %></b>
            <button class="esdoc-support btn btn-success">Support</button>
        </h1>
    </header>
</script>

<!-- TEMPLATE: Filters -->
<script type="underscore/template" id="template-filters">
    <div class="container-fluid bg-primary" style="padding:5px;">
        <div class="row">
            <span class="col-md-3">
                <label for="projectFilter">Project:</label>
                <%= APP.utils.renderTemplate("template-project-filter") %>
            </span>
            <span class="col-md-3">
                <label for="topicFilter" id="topicFilterLabel"><%= STATE.config.labels.topic %>: </label>
                <span class="topic-further-info-button badge">?</span>
                <%= APP.utils.renderTemplate("template-topic-filter") %>
            </span>
            <span class="col-md-3">
                <label for="subTopicGroupFilter" id="subTopicGroupFilterLabel"><%= STATE.config.labels.subTopic %>:</label>
                <%= APP.utils.renderTemplate("template-subtopic-group-filter") %>
            </span>
            <span class="col-md-3">
                <label for="tableFilter">Short Table:</label>
                <%= APP.utils.renderTemplate("template-table-filter") %>
            </span>
        </div>
    </div>
</script>

<!-- TEMPLATE: Project Filter -->
<script type="underscore/template" id="template-project-filter">
    <select id="projectFilter" class="form-control input-sm">
        <% _.each(STATE.projects, function(i) { %>
        <option value="<%= i.id %>" <%= i == STATE.project ? "selected" :"" %>>
            <%- i.label %>
        </option>
        <% }); %>
    </select>
</script>

<!-- TEMPLATE: Topic Filter -->
<script type="underscore/template" id="template-topic-filter">
    <select id="topicFilter" class="form-control input-sm">
        <% _.each(STATE.topics, function(i) { %>
        <option value="<%= i.id %>" <%= i == STATE.topic ? "selected" :"" %>>
            <%- i.label %>
        </option>
        <% }); %>
    </select>
</script>

<!-- TEMPLATE: Table Filter -->
<script type="underscore/template" id="template-table-filter">
    <select id="tableFilter" class="form-control input-sm">
        <% _.each(STATE.tables, function(i) { %>
        <option value="<%= i.id %>">
            <%- i.label %>
        </option>
        <% }); %>
    </select>
</script>

<!-- TEMPLATE: Group Filter -->
<script type="underscore/template" id="template-subtopic-group-filter">
    <select id="subTopicGroupFilter" class="form-control input-sm">
        <% _.each(STATE.subTopicGroups, function(i) { %>
        <option value="<%= i.id %>" <%= i == STATE.subTopicGroup ? "selected" :"" %>>
            <%- i.label %>
        </option>
        <% }); %>
    </select>
</script>

<!-- TEMPLATE: Property set -->
<script type="underscore/template" id="template-property-sets">
    <div id='propertySets'>
        <% _.each(STATE.subTopicGroup.subTopics, function(subTopic) { %>
        <section>
            <header class="bg-primary" style="margin-bottom:5px;">
                <h3>
                    <%= STATE.project.label + " > " + STATE.topic.label + " > " + subTopic.label %>
                </h3>
            </header>
            <% _.each(subTopic.properties, function(property) { %>
            <table class="table table-bordered table-hover table-condensed" style="margin-bottom:8px;">
                <tbody>
                    <tr class="bg-info">
                        <td class="bg-info property-name" colspan="3">
                            <strong><%- property.label %></strong>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-3"><strong>Description</strong></td>
                        <td colspan="2"><%= property.description %></td>
                    </tr>
                    <tr>
                        <td class="col-md-3"><strong>Cardinality</strong></td>
                        <td colspan="2"><%= property.cardinality %></td>
                    </tr>
                    <tr>
                        <td class="col-md-3"><strong>Type</strong></td>
                        <td colspan="2"><%= property.type %></td>
                    </tr>
                    <!-- Enums -->
                    <% if (property.type === "enum") { %>
                    <% _.each(property.enum.choices, function(choice, index) { %>
                    <tr>
                        <td class="col-md-3"><strong><%= choice == _.first(property.enum.choices) ? "Enum Choices" :"" %></strong></td>
                        <td class="col-md-3">
                            <%= choice.value %>
                        </td>
                        <td>
                            <%= $.trim(choice.description) || "--" %>
                        </td>
                    </tr>
                    <% }); %>
                    <tr>
                        <td class="col-md-3"><strong>Enum Is Open ?</strong></td>
                        <td colspan="2" style="text-transform:capitalize;"><%= property.enum.is_open %></td>
                    </tr>
                    <% } %>
                </tbody>
            </table>
            <% }); %>
        </section>
        <% }); %>
    </div>
</script>

<!-- TEMPLATE: Topic info -->
<script type="underscore/template" id="template-topic-info">
    <div class="modal-content">
        <div class="modal-header bg-primary">
            <button type="button" class="close" style="color: white;" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title"><%= STATE.project.label %> <%= STATE.config.labels.topic %> Specialization</h4>
        </div>
        <div class="modal-body topic-info-content">
            <article>
                <section>
                    <header>
                        <h5 class="bg-primary">Overview</h5>
                    </header>
                    <table class="table table-hover table-condensed" style="margin-top: 0px; margin-bottom: 6px;">
                        <tbody>
                            <tr>
                                <td class="col-md-3">
                                    <strong><%= STATE.config.labels.topic %></strong>
                                </td>
                                <td>
                                    <%= STATE.project.label %> - <%= STATE.topic.label %>
                                </td>
                            </tr>
                            <tr>
                                <td class="col-md-3">
                                    <strong>Description</strong>
                                </td>
                                <td>
                                    <%= STATE.topic.description %>
                                </td>
                            </tr>
                            <tr>
                                <td class="col-md-3">
                                    <strong>Current Version</strong>
                                </td>
                                <td>
                                    <%= _.last(STATE.topic.changeHistory).version %>
                                </td>
                            </tr>
                            <tr>
                                <td class="col-md-3">
                                    <strong>QC Status</strong>
                                </td>
                                <td style="text-transform: capitalize;">
                                    <%= STATE.topic.qcStatus %>
                                </td>
                            </tr>
                            <tr>
                                <td class="col-md-3">
                                    <strong>Contact</strong>
                                </td>
                                <td>
                                    <%= STATE.topic.contact ? STATE.topic.contact : "--" %>
                                </td>
                            </tr>
                            <tr>
                                <td class="col-md-3">
                                    <strong>Authors</strong>
                                </td>
                                <td>
                                    <%= STATE.topic.authors.length ? STATE.topic.authors.join(", ") : "--" %>
                                </td>
                            </tr>
                            <tr>
                                <td class="col-md-3">
                                    <strong>Contributors</strong>
                                </td>
                                <td>
                                    <%= STATE.topic.contributors.length ? STATE.topic.contributors.join(", ") : "--" %>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </section>
                <section>
                    <header>
                        <h5 class="bg-primary">Change History</h5>
                    </header>
                    <div class="topic-change-history">
                        <table class="table table-hover table-condensed" style="margin-top: 0px; margin-bottom: 0px;">
                            <tbody>
                                <% _.each(STATE.topic.changeHistory.reverse(), function(change, index) { %>
                                <tr>
                                    <td class="col-md-3">
                                        <strong>v<%= change.version %></strong>
                                    </td>
                                    <td>
                                        <%= change.author %> @ <%= change.date %>
                                        <br/>
                                        <i><%= change.note %></i>
                                    </td>
                                </tr>
                                <% }); %>
                            </tbody>
                        </table>
                    </div>
                </section>
            </article>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
        </div>
    </div>
</script>

<!-- Topic information -->
<div id="topicFurtherInfoModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content" />
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- ---------------------------------------------- -->
<!-- JS:3rd party libraries                         -->
<!-- ---------------------------------------------- -->
<script src="media/ext/jquery-2.1.0.min.js"></script>
<script src="media/ext/linkify.min.js"></script>
<script src="media/ext/linkify-jquery.min.js"></script>
<script src="media/ext/lodash.underscore.min.js"></script>
<script src="media/ext/backbone.js" type="text/javascript"></script>
<script src="media/ext/bootstrap-3.3.6/js/bootstrap.min.js"></script>
<!-- ---------------------------------------------- -->
<!-- JS:Application scripts                         -->
<!-- ---------------------------------------------- -->
<script src="media/js/_.js" type="text/javascript"></script>
<script src="media/js/constants.js" type="text/javascript"></script>
<script src="media/js/utils.js" type="text/javascript"></script>
<script src="media/js/view.model.js" type="text/javascript"></script>
<script src="media/js/view.controller.js" type="text/javascript"></script>
<script src="media/js/view.renderer.js" type="text/javascript"></script>
<!-- ---------------------------------------------- -->
<!-- JS:Application data                            -->
<!-- ---------------------------------------------- -->
<script src="_SPECIALIZATION.js" type="text/javascript"></script>

</body>

</html>